<h2>All special days</h2>

<div id="special_days">
  <div class="special_day">
    <h3>Days since last major overhaul: 983</h3>
    <p>01.12.2015</p>
  </div>
  <div class="special_day">
    <h3>Days until next major overhaul: 1283</h3>
    <p>01.12.2025</p>
  </div>
</div>
