<h2>All special days</h2>

<% if special_days.any? %>
  <div id="special_days">
    <% special_days.each do |day| %>
      <div class="special_day">
        <h3><%= day.title %></h3>
        <p><%= day.date %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no special days yet.</p>
<% end %>
